@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200;300&family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --first-bg-color: #ff96ad;
    --second-bg-color: #0e1d47; 
}

body {
    background-color: var(--first-bg-color);
    /* background-color: rgba(255, 192, 203, 0.829); */
    /* background-color: #8EC5FC;
    background-image: linear-gradient(90deg, #8EC5FC 0%, #E0C3FC 85%); */
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.section-container {
    width: 50%;
    height: 100%;
    padding: 20px;    
}

.divs-container {
    width: auto;
    height: 25%;
    margin-top: 10px;
    padding-left: 20px;
}

.list-container {
    width: 80%;
    margin: 30px auto 0 auto;
    padding: 10px 0px 10px 50px;
    /* border: 1px solid red; */
}

.list-itens {
    margin: 15px 0;
    list-style: square;
    color: var(--second-bg-color);
    font-family: 'Changa', sans-serif;
    font-style: italic;
    font-size: 1em;
    font-weight: 700;
}

.form-container {
    position: relative;
    width: 70%;
    height: 80%;
    border: 1px solid  var(--second-bg-color);
    box-shadow: 2px 2px 2px 0.5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: auto;
    top: 15%;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    background-color: var(--second-bg-color);
    color: var(--first-bg-color);    
}

.title-form {
    margin: 20px auto 5px auto;
    font-size: 2em;
    text-align: center;
    font-family: 'Lobster', cursive;
    color: var(--first-bg-color);
}

.title-form-size {
    margin: 0 auto 20px auto; 
    font-size: small;
}

.title-section {
    margin-top: 10px;
    text-align: center;
    font-size: 2.5em;
    font-weight: 400;
    font-family: 'Lobster', cursive;
    color: var(--second-bg-color);
}

.label-form {
    margin-bottom: 10px;
    font-size: 14pt;
    font-family: 'Lobster', cursive; 
}

.title-label-form {
    font-weight: normal;
    margin-top: 10px;
}

div {
    margin-bottom: 10px;
}

.input-form {
    height: 35px;
    padding: 5px 10px;
    border-radius: 2px;
    color: #000;
    background-color: #fff;
    border: 1px solid #ccc;
    outline: none;
    font-size: medium;
}

.select-form {
    width: 30%;
    margin-bottom: 10px;
}

.radio-form {
    outline: none;
    width: 15px;
    height: 15px;  
}

.radio-form-space {
    margin-left: 10px;
}

.container-button {
    margin: 10px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn{
    width: 46%;
    height: 35px;
    padding: 5px 10px;
    border-radius: 2px;
    color: var(--second-bg-color);
    background-color: var(--first-bg-color);
    border: none;
    outline: none;
    font-size: large;
    font-family: 'Lobster', cursive; 
    font-weight: 700;
}

.btn:hover {
    background-color: #ff96adb6;
}

@media (max-width: 801px) {
    body {
      flex-direction: column;
      width: 100%;
      height: auto;
    }

    .section-container {
        width: 100%;
    }

    .form-container {
        height: 500px;
        width: 90%;
    }
    
    .list-container {
        width: 70%;
        height: auto;
        padding: 10px;
        /* border: 1px solid red; */
    }

  }